.card{
    border-radius: 1rem;
    padding: 2.5rem;
    display: grid;
    grid-template-rows: repeat(3, min-content);
    row-gap: 1.8rem;
    box-shadow: 6px 3px 1.5rem 0px rgba(color(primary, b), 0.2);
    
    &--first{
        background-color: color(primary, a);
        grid-area: first;
        color: color(typography, a);
    }

    &--second{
        background-color: color(typography, b);
        grid-area: second;
    }

    &--third{
        background-color: color(typography, a);
        grid-area: third;
        color: color(typography, b);
    }

    &--fourth{
        background-color: color(typography, a);
        grid-area: fourth;
        color: color(typography, b);
    }

    &--fifth{
        background-color: color(primary, b);
        grid-area: fifth;
    }
}