// ------------------------------------
// Colors -----------------------------
//-------------------------------------
$color: (
    primary: (
        a:    #7541c8,
        b:    #19212e
    ),
    typography: (
        a:   #ffff,
        b:   #48556a

    ),
    neutral: (
        a:   #ecf2f8,
        b:   #cfcfcf
    )
);


// ------------------------------------
// Typography -------------------------
//-------------------------------------
$font__family: 'Barlow Semi Condensed', sans-serif;

// ------------------------------------
// Font Size --------------------------
// ------------------------------------
$font__size: (
    alfa: 2rem, //heading
    beta: 1.3rem, //body copy
    gamma: 1.1rem //Verified Graduate
);
